@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
    background-color: #1B262C;
    color: #FFFFFF;
    margin: 0;
}

header {
    background-color: #0F4C75;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

header img {
    border-radius: 50%;
    width: 125px;
    border: 7px solid #BBE1FA;
    margin: 10px;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    margin: 10px;
    line-height: 125px;
}

div {
    margin: 50px;
}

h2 {
    font-size: 50px;
    font-family: "Poppins";
}

table, p {
    margin: 20px;
    font-size: 40px;
    font-family: "Poppins";
}

td {
    padding: 10px 40px;
}

p {
    padding: 0 40px;
}

ul {
    list-style-type: none;
}

ul li {
    float: left;
    margin: 0 20px;
}

ul li img {
    height: 130px;
}

.backButton {
    position: absolute;
    right: 10px;
    background-color: #1B262C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}