{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'myaccor/css/style.css' %}">
    <script src="{% static 'myaccor/js/accor.js' %}"></script>

    <title>My Accordion</title>

</head>
<body>
    <div class="w-50 mx-auto">
        <div class="accordion">
            <div class="accordion-item my-3">
                <div id="head1" class="head d-flex p-3">
                    <p class="judul">Profil Saya</p>
                    <div class="button-wraper ml-auto">
                        <button id="up1" class="btn btn-dark up">UP</button>
                        <button id="down1" class="btn btn-dark down">DOWN</button>
                    </div>
                </div>
                <div id="content1" class="content p-3">
                    Budi adalah mahasiswa yang memiliki minat pada bidang eksak sejak kecil. Dari minatnya tersebut, ia mulai mempelajari bidang informatika, terutama pada <em>competitive programming</em> dan <em>web development</em>. Saat ini Budi sedang mencari jalan yang ingin ditempuhnya setelah lulus kuliah. <a href="/">Baca profil selengkapnya.</a>
                </div>
            </div>
            <div class="accordion-item my-3">
                <div id="head2" class="head d-flex p-3">
                    <p class="judul">Aktivitas Saat Ini</p>
                    <div class="button-wraper ml-auto">
                        <button id="up2" class="btn btn-dark up">UP</button>
                        <button id="down2" class="btn btn-dark down">DOWN</button>
                    </div>
                </div>
                <div id="content2" class="content p-3">
                    Kuliah online, main game online, ikut lomba-lomba, belajar masak.
                </div>
            </div>
            <div class="accordion-item my-3">
                <div id="head3" class="head d-flex p-3">
                    <p class="judul">Pengalaman Organisasi/Kepanitiaan</p>
                    <div class="button-wraper ml-auto">
                        <button id="up3" class="btn btn-dark up">UP</button>
                        <button id="down3" class="btn btn-dark down">DOWN</button>
                    </div>
                </div>
                <div id="content3" class="content p-3">
                    <table class="table">
                        <tr>
                            <td>2019 - 2020</td>
                            <td>Staff Try Out Saimala Arcade</td>
                        </tr>
                        <tr>
                            <td>2019 - 2020</td>
                            <td>Staff Web Development BETIS Fasilkom UI</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="accordion-item my-3">
                <div id="head4" class="head d-flex p-3">
                    <p class="judul">Prestasi</p>
                    <div class="button-wraper ml-auto">
                        <button id="up4" class="btn btn-dark up">UP</button>
                        <button id="down4" class="btn btn-dark down">DOWN</button>
                    </div>
                </div>
                <div id="content4" class="content p-3">
                    <table class="table">
                        <tr>
                            <td>2017</td>
                            <td>Medali Perak Olimpiade Sains Nasional bidang Informatika</td>
                        </tr>
                        <tr>
                            <td>2019</td>
                            <td>Medali Perak Indonesia National Contest</td>
                        </tr>
                        <tr>
                            <td>2019</td>
                            <td>Medali Perak ICPC Asia Jakarta Regional Contest</td>
                        </tr>
                        <tr>
                            <td>2020</td>
                            <td>Honorable Mention Senior Competitive Programming Contest Compfest 12</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>