@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #BBE1FA;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    background-color: #3282B8;
    border-radius: 25px;
}

th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

input {
    width: 50%;
}

table {
    width: 96%;
    background-color: aliceblue;
}