{% extends 'matkul/base.html' %}
{% load static %}

{% block head %}
<title>Detail Matkul {{ matkul.judul_matkul }}</title>
{% endblock %}

{% block content %}
<div class="judul">{{ matkul.judul_matkul }}</div>
<div class="content-isi">
    <div class="col-md-6">
        <p>Dosen: {{ matkul.nama_dosen }}</p>
        <p>Ruang Kelas: {{ matkul.ruang_kelas }}</p>
    </div>
    <div class="col-md-6">
        <p>SKS: {{ matkul.jumlah_sks }}</p>
        <p>Semester/Tahun Ajaran: {{ matkul.semester_tahun }}</p>
    </div>
    <div class="col-md-12">
        <p>Deskripsi: {{ matkul.deskripsi }}</p>
    </div>
</div>
{% endblock %}