{% extends 'matkul/base.html' %}
{% load static %}

{% block head %}
<title>Daftar Matkul</title>
{% endblock %}

{% block content %}
<div class="judul">Daftar Matkul</div>
<div class="content-isi">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mata Kuliah</th>
                <th scope="col">Dosen</th>
                <th scope="col">SKS</th>
                <th scope="col">Semester Tahun</th>
                <th scope="col" colspan="2">Instruksi</th>
            </tr>
        </thead>
        <tbody>
            {% if matkul_list %}
                {% for matkul in matkul_list %}
                    <tr>
                        <td>{{ matkul.judul_matkul }}</td>
                        <td>{{ matkul.nama_dosen }}</td>
                        <td>{{ matkul.jumlah_sks }}</td>
                        <td>{{ matkul.semester_tahun }}</td>
                        <td><a type="button" class="btn btn-danger" href="/matkul/detail/{{ matkul.id }}">Detail</a></td>
                        <td><a type="button" class="btn btn-danger" href="/matkul/hapus/{{ matkul.id }}">Hapus</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan=4>No matkul are available.</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}