{% extends 'matkul/base.html' %}
{% load static %}

{% block head %}
<title>Tambah Matkul</title>
{% endblock %}

{% block content %}
<div class="judul">Tambah Matkul</div>
<div class="content-isi">
    <form action="tambah" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}