body {
    background-color: #BBE1FA;
}

.accordion-item {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.head {
    background-color: #3282B8;
    border-radius: 20px;
    font-weight: bold;
    color: #FFFFFF;
}