{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div id="profile" class="container-fluid content-box">
    <div class="judul">Profile</div>
    <div class="content-isi">
        <table class="table table-profile">
            <tr>
                <td>Nama</td>
                <td class="table-description">Budiman Arbenta</td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td class="table-description">14 Mei 2001</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td class="table-description">1906285535</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td class="table-description">Maung 2019</td>
            </tr>
            <tr>
                <td>Tempat Kuliah</td>
                <td class="table-description">Universitas Indonesia</td>
            </tr>
        </table>
    </div>
</div>
<div id="description" class="container-fluid content-box">
    <div class="judul">Deskripsi</div>
    <div class="content-isi">
        Budi adalah mahasiswa yang memiliki minat pada bidang eksak sejak kecil. Dari minatnya tersebut, ia mulai mempelajari bidang informatika, terutama pada <em>competitive programming</em> dan <em>web development</em>. Saat ini Budi sedang mencari jalan yang ingin ditempuhnya setelah lulus kuliah.
    </div>
</div>
<div id="pendidikan" class="container-fluid content-box">
    <div class="judul">Riwayat Pendidikan</div>
    <div class="content-isi">
        <table class="table table-timeline">
            <tr>
                <td>2019 - Sekarang</td>
                <td class="table-description">Universitas Indonesia</td>
            </tr>
            <tr>
                <td>2016 - 2019</td>
                <td class="table-description">SMA Kharisma Bangsa</td>
            </tr>
            <tr>
                <td>2013 - 2016</td>
                <td class="table-description">SMP Negeri 1 Bandar Lampung</td>
            </tr>
            <tr>
                <td>2007 - 2013</td>
                <td class="table-description">SD Tunas Mekar Indonesia</td>
            </tr>
        </table>
    </div>
</div>
<div id="organisasi" class="container-fluid content-box">
    <div class="judul">Riwayat Organisasi & Kepanitiaan</div>
    <div class="content-isi">
        <table class="table table-timeline">
            <tr>
                <td>2019 - 2020</td>
                <td class="table-description">Staff Try Out Saimala Arcade</td>
            </tr>
            <tr>
                <td>2019 - 2020</td>
                <td class="table-description">Staff Web Development BETIS Fasilkom UI</td>
            </tr>
        </table>
    </div>
</div>
<div id="kerja" class="container-fluid content-box">
    <div class="judul">Riwayat Kerja</div>
    <div class="content-isi">
        <table class="table table-timeline">
            <tr>
                <td>2020</td>
                <td class="table-description">Asisten Dosen Matematika Diskret 1</td>
            </tr>
        </table>
    </div>
</div>
<div id="prestasi" class="container-fluid content-box">
    <div class="judul">Prestasi</div>
    <div class="content-isi">
        <table class="table table-timeline">
            <tr>
                <td>2017</td>
                <td class="table-description">Medali Perak Olimpiade Sains Nasional bidang Informatika</td>
            </tr>
            <tr>
                <td>2019</td>
                <td class="table-description">Medali Perak Indonesia National Contest</td>
            </tr>
            <tr>
                <td>2019</td>
                <td class="table-description">Medali Perak ICPC Asia Jakarta Regional Contest</td>
            </tr>
            <tr>
                <td>2020</td>
                <td class="table-description">Honorable Mention Senior Competitive Programming Contest Compfest 12</td>
            </tr>
        </table>
    </div>
</div>
<div id="interest" class="container-fluid content-box">
    <div class="judul">Interest</div>
    <div class="content-isi">
        <div class="row">
            <img class="col-sm-6 col-12 img-responsive" src="{% static 'assets/competitive-programming.png' %}" alt="competitive-programming">
            <img class="col-sm-6 col-12 img-responsive" src="{% static 'assets/web-development.png' %}" alt="web-development">
            <img class="col-sm-6 col-12 img-responsive" src="{% static 'assets/cooking.png' %}" alt="cooking">
            <img class="col-sm-6 col-12 img-responsive" src="{% static 'assets/playing-guitar.png' %}" alt="playing-guitar">
        </div>
    </div>
</div>
<div id="project" class="container-fluid content-box">
    <div class="judul">Project</div>
    <div class="content-isi">
        <ul>
            <li><a class="project-link" href="/story1">Story 1</a></li>
            <li><a class="project-link" href="/matkul">Mata Kuliah</a></li>
            <li><a class="project-link" href="/kegiatan">Kegiatan</a></li>
            <li><a class="project-link" href="/myaccor">My Accordion</a></li>
            <li><a class="project-link" href="/library/book">My Books</a></li>
        </ul>
    </div>
</div>
{% endblock %}