{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style_story1.css' %}" />
    <title>Profile Budi</title>
</head>
<body>
    <header>
        <img src="{% static 'assets/foto-profil.jpg'%}">
        <h1>Budiman Arbenta</h1>
        <button class="backButton" onclick="goBack()">Go Back</button>

        <script>
            function goBack() {
              window.history.back();
            }
        </script>
    </header>

    <div class="profile">
        <h2>Profil</h2>
        <table>
            <tr>
                <td>Nama</td>
                <td>Budiman Arbenta</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>1906285535</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>Maung 2019</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>Berenang</td>
            </tr>
            <tr>
                <td>Tempat Kuliah</td>
                <td>Fasilkom UI</td>
            </tr>
        </table>
    </div>

    <div class="description">
        <h2>Deskripsi Tentang Saya</h2>
        <p>
            Budi adalah mahasiswa yang memiliki minat pada bidang eksak sejak kecil. Dari minatnya tersebut, ia mulai mempelajari bidang informatika, terutama pada <i>competitive programming</i> dan <i>web development</i>. Saat ini Budi sedang mencari jalan yang ingin ditempuhnya setelah lulus kuliah.
        </p>
    </div>

    <div class="education">
        <h2>Riwayat Pendidikan</h2>
        <table>
            <tr>
                <td>2019 - sekarang</td>
                <td>Universitas Indonesia</td>
            </tr>
            <tr>
                <td>2016 - 2019</td>
                <td>SMA Kharisma Bangsa</td>
            </tr>
            <tr>
                <td>2013 - 2016</td>
                <td>SMP Negeri 1 Bandar Lampung</td>
            </tr>
            <tr>
                <td>2007 - 2013</td>
                <td>SD Tunas Mekar</td>
            </tr>
        </table>
    </div>

    <div class="social-media">
        <h2>Sosial Media</h2>
        <ul>
            <li><a href="https://www.instagram.com/budiiarb/"><img src="{% static 'assets/logo-instagram.png'%}"></a></li>
            <li><a href="https://www.linkedin.com/in/budiman-arbenta-a79195186/"><img src="{% static 'assets/logo-linkedin.png'%}"></a></li>
            <li><a href="http://wa.me/6285922147515"><img src="{% static 'assets/logo-whatsapp.png'%}"></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100010368942788"><img src="{% static 'assets/logo-facebook.png'%}"></a></li>
            <li><a href="https://www.youtube.com/channel/UC2K54ryFsBc8qAkryYZfitg?view_as=subscriber"><img src="{% static 'assets/logo-youtube.png'%}"></a></li>
        </ul>
    </div>
</body>
</html>
