{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'book/css/style.css' %}">
    <script src="{% static 'book/js/book.js' %}"></script>

    <title>My Books</title>

</head>
<body>
    <div class="main-container m-4 p-4">
        <div class="text-center my-4">
            <h1>My Library</h1>
            <input id="keyword" placeholder="Type here">
        </div>
        <table class="w-100 mt-4">
            <thead>
                <tr>
                    <th id="th1">Thumbnail</th>
                    <th id="th2">Title</th>
                    <th id="th3">Authors</th>
                    <th id="th4">Description</th>
                </tr>
            </thead>
            <tbody id="search_result"></tbody>
        </table>
    </div>
</body>
</html>