{% extends 'userhandle/base.html' %}
{% load static %}

{% block head %}
<title>Masuk di sini!</title>
{% endblock %}

{% block content %}
<div class="box w-50 mx-auto p-5 align-middle">
    <h3>Log In</h3>
    {% if error_message %}
    <div class="error_message">
        {{ error_message }}
    </div>
    {% endif %}
    <form action="login" method="POST">
        {% csrf_token %}
        <input class="input-bar w-100 my-2" type="text" name="username" placeholder="Username">
        <input class="input-bar w-100 my-2" type="password" name="password" placeholder="Password">
        <div class="d-flex justify-content-between flex-row">
            <span class="mr-auto">Belum punya akun? <a href="register">Buat akun</a></span>
            <input class="btn btn-primary" type="submit" value="Log In">
        </div>
    </form>
</div>
{% endblock %}