{% extends 'userhandle/base.html' %}
{% load static %}

{% block head %}
<title>Daftar di sini!</title>
{% endblock %}

{% block content %}
<div class="box w-50 mx-auto p-5 align-middle">
    <h3>Buat Akun</h3>
    <form action="register" method="POST">
        {% csrf_token %}
        <input class="input-bar w-100 my-2" type="text" name="username" placeholder="Username">
        <input class="input-bar w-100 my-2" type="password" name="password" placeholder="Password">
        <div class="d-flex justify-content-between flex-row">
            <span class="mr-auto">Sudah punya akun? <a href="login">Login</a></span>
            <input class="btn btn-primary" type="submit" value="Register">
        </div>
    </form>
</div>
{% endblock %}