{% extends 'kegiatan/base.html' %}
{% load static %}

{% block head %}
<title>Daftar Kegiatan</title>
{% endblock %}

{% block content %}
{% if kegiatan_list %}
    {% for kegiatan in kegiatan_list %}
        <div class="container-fluid content-box col-md-4 col-12">
            <div class="judul">{{ kegiatan.nama_kegiatan }}</div>
            <div class="content-isi">
                <ul>
                    {% for anggota in person_list %}
                        {% if anggota.kegiatan == kegiatan %}
                            <li>{{ anggota.nama }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <form action="tambah-anggota/{{ kegiatan.id }}" method="GET">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Tambah Anggota">
                </form>
                <form action="hapus/{{ kegiatan.id }}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Hapus Kegiatan">
                </form>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="container-fluid content-box">
        <div class="judul">Tidak ada Kegiatan</div>
        <div class="content-isi">
            Silahkan tambahkan kegiatan di halaman tambah kegiatan.
        </div>
    </div>
{% endif %}
{% endblock %}