{% extends 'kegiatan/base.html' %}
{% load static %}

{% block head %}
<title>Tambah Kegiatan</title>
{% endblock %}

{% block content %}
<div class="container-fluid content-box">
    <div class="judul">Tambah Kegiatan</div>
    <div class="content-isi">
        <form action="tambah-kegiatan" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>
{% endblock %}