{% extends 'kegiatan/base.html' %}
{% load static %}

{% block head %}
<title>Tambah Anggota</title>
{% endblock %}

{% block content %}
<div class="container-fluid content-box">
    <div class="judul">Tambah Anggota</div>
    <div class="content-isi">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" class="form-input" maxlength="30" placeholder="Masukkan Nama Kamu" name="nama">
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>
{% endblock %}